<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>MindBall - Главная</title>

    <link rel="shortcut icon" href="{{ asset('bundles/app/landing/images/favicon.ico') }}"/>

    {% block styles %}
        {% stylesheets
        'bundles/app/landing/css/materialize.css'
        'bundles/app/landing/css/style.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}

        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path("homepage") }}" class="brand-logo text-logo">MindBall</a>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img class="responsive-img" src="{{ asset('bundles/app/landing/images/backgroud.jpg') }}" alt="MindBall Back" />
                </div>
                <a href="{{ path('homepage') }}"><img class="circle" src="{{ asset('bundles/app/landing/images/logo_blue.jpg') }}" alt="MindBall Logo"></a>
                <a href="#!name"><span class="white-text name">MindBall</span></a>
                <a href="#!email"><span class="white-text email">lorem ips</span></a>
            </div>
        </li>

        <li><a class="subheader">Томск</a></li>
        <li><a href="#!"><i class="material-icons">flag</i>Физические бои 2018</a></li>
        <li><div class="divider"></div></li>

        <li><a class="subheader">Архив</a></li>
        <li><a class="waves-effect" href="{{ path('adverts') }}"><i class="material-icons">assignment</i>Новости</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">rate_review</i>Впечатления</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">photo_library</i>Фотографии</a></li>
    </ul>

    <main>
        {% block content %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">MindBall</span>
                </div>
            </div>
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 - {{ "now"|date("Y") }} MindBall
            </div>
        </div>
    </footer>

    <div class="fixed-action-btn">
        <a href="" class="btn-floating btn-large">
            <i class="large material-icons">account_circle</i>
        </a>
    </div>

    {% block scripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

        {% javascripts '@AppBundle/Resources/public/landing/js/scripts.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>
