{% extends '_base.html.twig' %}

{% block header %}
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path("homepage") }}" class="brand-logo text-logo">MindBall</a>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
{% endblock %}

{% block menu %}
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img class="responsive-img" src="{{ asset('bundles/app/landing/images/backgroud.jpg') }}" alt="MindBall Back" />
                </div>
                <a href="{{ path('homepage') }}"><img class="circle" src="{{ asset('bundles/app/landing/images/logo_blue.jpg') }}" alt="MindBall Logo"></a>
                <a href="#!"><span class="white-text name">MindBall</span></a>
                <a href="#!email"><span class="white-text email">lorem ips</span></a>
            </div>
        </li>

        {% for area in areas %}
            <li><a class="subheader">{{ area.title }}</a></li>
            {% for season in area.activeSeasons %}
                <li>
                    <a href="{{ path('active_season', { slug: season.slug }) }}">
                        <i class="material-icons">flag</i>
                        {{ season.title }}
                    </a>
                </li>
            {% endfor %}
            <li><div class="divider"></div></li>
        {% endfor %}

        <li><a class="subheader">Архив</a></li>
        <li><a class="waves-effect" href="{{ path('adverts') }}"><i class="material-icons">assignment</i>Новости</a></li>
        <li><a class="waves-effect" href="{{ path('reviews') }}"><i class="material-icons">rate_review</i>Впечатления</a></li>
        <li><a class="waves-effect" href="{{ path('albums') }}"><i class="material-icons">photo_library</i>Фотографии</a></li>
    </ul>
{% endblock %}

{% block footer %}
    <div class="footer-wrapper">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">MindBall</h5>
                <p class="grey-text text-lighten-4">
                    MindBall – платформа. Вы можете провести турнир на этой площадке. Мы открыты к любым формам сотрудничества.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Партнерам</h5>
                <ul>
                    {% for page in partnerPages %}
                        <li>
                            <a class="grey-text text-lighten-3" href="{{ path('partner_page', { slug: page.slug }) }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
