{% extends 'landing/_base.html.twig' %}

{% block content %}
    <div class="col s12">
        <h3>
            {{ season.title }}
            <br />
            <small>{{ season.tournament.title }}</small>
        </h3>
    </div>
    <div class="col s12 m7">
        {% for league in season.leagues %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ league.title }}</span>
                    <p><strong>{{ league.levelName }}</strong></p>
                    {{ league.description|md2html|raw }}
                </div>
                <div class="card-action">
                    <a href="#!">Участники</a>
                    <a href="#!">Подать заявку</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col s12 m5">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Адрес проведения</span>
                <p>{{ season.tournament.area.title }}, {{ season.address }}</p>
            </div>
            <div class="card-action">
                <a href="#!" target="_blank">Показать на карте</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Отборочный тур</span>
                <p>
                    <strong>{{ season.qualifyingRoundEndDate|date('d.m.Y') }}</strong>
                    с {{ season.qualifyingRoundStartDate|date('H.i') }} до {{ season.qualifyingRoundEndDate|date('H.i') }} МСК
                </p>
                <span class="card-title">Очный тур</span>
                <p>с <strong>{{ season.startDate|date('d.m.Y') }}</strong> по <strong>{{ season.endDate|date('d.m.Y') }}</strong></p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Организаторы</span>
            </div>
        </div>
    </div>
{% endblock %}