{% extends 'landing/_base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col s12 l5 push-l7">
            {% for advert in adverts %}
                <div class="card sticky-action">
                    <div class="card-image">
                        <img class="activator" src="http://lorempixel.com/800/400" alt="New item" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">
                            {{ advert.title }}
                            <span class="chip right">{{ advert.createdAt|date("d.m.Y") }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('advert', { slug: advert.slug }) }}">Подробнее</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ advert.title }}<i class="material-icons right">close</i></span>
                        <p>{{ advert.intro }}</p>
                    </div>
                </div>
            {% endfor %}

            <a href="{{ path('adverts') }}" class="btn btn-block">Все новости</a>
        </div>
        <div class="col s12 l7 pull-l5">
            {% for info in infoCards %}
                <div class="card">
                    <div class="card-content">
                        {{ info.body|md2html|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}