<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block page_title %}MindBall{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('bundles/app/landing/images/favicon.ico') }}"/>

    {% block styles %}
        {% stylesheets
        'bundles/app/landing/css/materialize.css'
        'bundles/app/landing/css/style.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}

        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

    {% block header %}
    {% endblock %}

    {% block menu %}
    {% endblock %}

    <main>
        <div class="row">
            {% block content %}
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">MindBall</span>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </main>

    <footer class="page-footer">
        {% block footer %}
        {% endblock %}
        <div class="footer-copyright">
            © 2016 - {{ "now"|date("Y") }} MindBall
        </div>
    </footer>

    <div class="fixed-action-btn">
        <a href="{{ path('fos_user_profile_show') }}" class="btn-floating btn-large">
            <i class="large material-icons">account_circle</i>
        </a>
    </div>

    {% block scripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

        {% javascripts '@AppBundle/Resources/public/landing/js/scripts.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>
