{% extends '_base.html.twig' %}


{% block header %}
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path("homepage") }}" class="brand-logo">Кабинет организатора</a>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
{% endblock %}

{% block menu %}
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img class="responsive-img" src="{{ asset('bundles/app/landing/images/backgroud.jpg') }}" alt="MindBall Back" />
                </div>
                <a href="{{ path('homepage') }}"><img class="circle" src="{{ asset('bundles/app/landing/images/logo_blue.jpg') }}" alt="MindBall Logo"></a>
                <span class="white-text name">Igor Kamyshev</span>
                <span class="white-text email">garik.novel@gmail.com</span>
            </div>
        </li>

        {# TODO: change icon #}
        <li><a class="waves-effect" href="{{ path('org_tournaments') }}"><i class="material-icons">assignment</i>Турниры</a></li>
        {# TODO: change icon #}
        <li><a class="waves-effect" href="#!"><i class="material-icons">assignment</i>Лицензии и оплаты</a></li>

        <li><div class="divider"></div></li>

        {# TODO: change icon #}
        <li><a class="waves-effect" href="{{ path('org_adverts') }}"><i class="material-icons">assignment</i>Новости</a></li>
        {# TODO: change icon #}
        <li><a class="waves-effect" href="#!"><i class="material-icons">assignment</i>Впечатления</a></li>

        <li><div class="divider"></div></li>

        {# TODO: mode bottom #}
        <li><a class="waves-effect" href="#!"><i class="material-icons">assignment</i>Выйти</a></li>
    </ul>
{% endblock %}


{% block footer %}
    <div class="footer-wrapper">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">MindBall</h5>
                <p class="grey-text text-lighten-4">
                    Образование – важно для человечества. Вы делаете мир лучше, спасибо.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Архив</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ path('adverts') }}">Новости</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('reviews') }}">Впечатления</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('albums') }}">Фотографии</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}